.alpaca-details {
  img {
    height: 500px;
    width: 500px;
    object-fit: cover;
    border: 3px solid #666;
    border-radius: 10px;
  }

  .alpaca-details-text {
    font-size: 24px;
  }

  p {
    font-size: 16px;
  }
}
