<div class="form-container">

  <h1 class="text-center">Book this Alpaca!</h1>
  <div class= "form-inputs">
    <%= simple_form_for([@alpaca, @booking]) do |form| %>
      <%= form.input :start_date %>
      <%= form.input :end_date %>
      <div class = "btn-wrapper">
        <%= form.button :submit, "Book", class: "btn-green" %>
      </div>
    <% end %>
  </div>

</div>
