<div>
<%= link_to "Delete Alpaca", alpacas_path, class: "delete-btn", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this Alpaca?" } %>
</div>

<%= render 'shared/footer' %>
