<div class="container">
  <div class="alpaca-card">
    <div class="alpaca-details">
      <h2><%= @alpaca.name %></h2>
      <p><strong>Color:</strong> <%= @alpaca.colour %></p>
      <p><strong>Location:</strong> <%= @alpaca.location %></p>
      <p><strong>Price per Night:</strong> $<%= @alpaca.price_per_night %></p>
    </div>
  </div>
</div>
