
<div class="container my-4">
  <h1 class="mb-4">Your User Profile</h1>
  <div class="user-info">
    <h2><%= @user.username %></h2>
    <p>Email: <%= @user.email %></p>
  </div>
</div>

<%= render 'shared/footer' %>
