.alpaca-card {
  // height: 450px;
  height: auto;
  width: 380px;
  background-color: $light-gray;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;

  a {
      color: $gray;
      font-weight: bold;

      &:hover {
        color: $green;
      }
    }

  img {
    height: 363px;
    object-fit: cover;
  }

  h2 {
    font-size: 28px;
  }

  .card-text {
    font-size: 16px;
    font-weight: 600;
  }

  .price {
    font-size: 20px;
    font-weight: 600;
  }
}

.card-location {
  padding-top: 8px;
  font-size: 16px;
}

.alpaca-card-wide {
  height: auto;
  width: auto;
}

.card {
  background: #ffffff;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}
