.alpaca-card {
  height: 450px;
  background-color: $light-gray;

  a {
    color: $gray;
    font-weight: bold;

    &:hover {
      color: $green;
    }
  }

  img {
    height: 363px;
    object-fit: cover;
  }

  h2 {
    font-size: 28px;
  }

  .card-text {
    font-size: 16px;
    font-weight: 600;
  }

  .price {
    font-size: 20px;
    font-weight: 600;
  }
}

.booking-card {
  height: auto;
}

.card-location {
  padding-top: 8px;
  font-size: 16px;
}
