.alpaca-card {
  // height: 450px;
  height: auto;
  width: 380px;
  background-color: $light-gray;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;

  a {
      color: $gray;
      font-weight: bold;

      &:hover {
        color: $green;
      }
    }

  img {
    height: 363px;
    object-fit: cover;
  }

  h2 {
    font-size: 28px;
  }

  .card-text {
    font-size: 16px;
    font-weight: 600;
  }

  .price {
    font-size: 20px;
    font-weight: 600;
  }
}

.card-location {
  padding-top: 8px;
  font-size: 16px;
}

.alpaca-card-wide {
  height: auto;
  width: auto;
}
