.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #9eebcf;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
  background-color: #7ac2a7;
  transform: scale(1.05);
}

.delete-btn {
    background-color: $mid-gray;
    display: block;
    padding: 8px 24px;
    color: white;
    text-align: center;
    text-decoration: capitalize;
    border-radius: 6px;
    opacity: 1;
    transition: opacity 0.2 s ease;
    text-decoration: none;
    font-size: small;
}

.delete-btn:hover {
    opacity: 0.8;
    text-decoration: none;
}

.delete-btn-div{
    margin-bottom: 15px;
    // margin-left: 70%;
    width: 375px;
}

#delete-btn {
  background-color: $mid-gray;
  display: block;
  padding: 8px 24px;
  color: white;
  text-align: center;
  text-decoration: capitalize;
  border-radius: 6px;
  opacity: 1;
  transition: opacity 0.2 s ease;
  text-decoration: none;
  font-size: 12px;
  font-weight: 100;
  
}
#delete-btn:hover {
  opacity: 0.8;
  text-decoration: none;
}

#delete-btn-user-page {
  background-color: $mid-gray;
  display: block;
  padding: 8px 24px;
  color: white;
  text-align: center;
  text-decoration: capitalize;
  border-radius: 6px;
  opacity: 1;
  transition: opacity 0.2 s ease;
  text-decoration: none;
  font-size: 12px;
  font-weight: 100;
}
#delete-btn-user-page:hover {
  opacity: 0.8;
  text-decoration: none;
}