.delete-btn {
    background-color: rgb(214, 3, 3);
    display: block;
    padding: 8px 24px;
    color: white;
    text-align: center;
    text-decoration: capitalize;
    border-radius: 6px;
    opacity: 1;
    transition: opacity 0.2 s ease;
    text-decoration: none;
    font-size: small;
}

.delete-btn:hover {
    opacity: 0.8;
    text-decoration: none;
}


.delete-btn-div{
    margin-bottom: 15px;
    margin-left: 70%;
    width: 375px;
}