.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(142, 182, 170);
  border: 3px solid #666;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 7%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.form-container:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.02);
}


.form-and-img-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-section, .img-section {
  flex: 1;
  padding: 40px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
}

.form-actions {
  display: block;
  width: 50vh;
}

.img-display img {
  max-width: 100%;
  height: auto;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 7%;
}

.form-container {
  width: 40%;
  padding: 0 20px;
}

