.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 7%;
}

.form-inputs{
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.form-actions{
    display: block;
    width: 50vh;
}
