.navbar-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(142, 182, 170);
  padding: 10px 10px;
  margin: 0;
}

.navbar-custom .navbar-collapse {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.navbar-custom .navbar-brand img {
  max-width: 70px;
  max-height: fit-content;
  display: block;
  margin: 0;
  padding: 2px 1px;
  border-radius: 100px;
}

.navbar-custom .navbar-nav .nav-link {
  // font-family: 'Lobster', cursive;
  color: #cde4e7;
  font-size: 1.9em;
  transition: all 0.3s ease-in-out;
  text-shadow: 0 0 5px rgba(142, 182, 170, 0.7);
  text-decoration: none;
  margin-right: 10px;
  padding: 10px 20px;
  border: 2px solid #f3f3f3;
  border-radius: 25px;
}

.navbar-custom .navbar-nav .nav-link:hover {
  font-size: 2.1em;
  color: #9eebcf;
  text-shadow: 0 0 10px rgba(142, 182, 170, 1);
}







