.text-large {
  font-size: 1.5em;
  font-weight: bold;
}

.text-muted {
  color: #777;
}

.text-title {
  font-family: 'Lobster', cursive;
  color: #cde4e7;
  font-size: 1.5em;
  text-shadow: 0 0 5px rgba(142, 182, 170, 0.7);
  text-decoration: none;
}

.text-body {
  font-size: 1.2em;
  color: #9eebcf;
  text-shadow: 0 0 10px rgba(142, 182, 170, 1);
}
